## Exercise 4 - Pandas part 1
- Use *earthquake.csv* file from data_files directory in this exercise. **Important:** Edit the original DataFrame throughout this whole notebook!

1 Read the data from the csv file and create a DataFrame from it.

In [130]:
import pandas as pd

In [131]:
earthquake_data = pd.read_csv("data_files/earthquakes.csv",delimiter=",")

2 Remove the following columns from the DataFrame: *Magnitude Seismic Stations*, *Azimuthal Gap*, *Horizontal Distance* and *Horizontal Error*.

In [132]:
earthquake_data.drop(columns=["Magnitude Seismic Stations", "Azimuthal Gap", "Horizontal Distance", "Horizontal Error"], inplace=True)

3 Filter data from the DataFrame so that only rows matching the following criteria will be shown:
    - Source must be US
    - Magnitude value must be over 7.8
    - ID value must start with the string "USP0007"

In [133]:
earthquake_data = earthquake_data[(earthquake_data["Source"] == "US") & (earthquake_data["Magnitude"] > 7.8) & (earthquake_data["ID"].str.startswith("USP0007"))]
earthquake_data.reset_index(inplace=True,drop=True)
earthquake_data

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,Magnitude Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,07/30/1995,05:11:24,-23.340,-70.294,Earthquake,45.6,NaN,NaN,8.0,MW,NaN,1.1,USP000714T,US,US,HRV,Reviewed
1,10/09/1995,15:35:54,19.055,-104.205,Earthquake,33.0,NaN,NaN,8.0,MW,NaN,1.3,USP00074VC,US,US,HRV,Reviewed
2,12/03/1995,18:01:09,44.663,149.300,Earthquake,33.0,NaN,NaN,7.9,MW,NaN,1.1,USP000782N,US,US,HRV,Reviewed
3,01/01/1996,08:05:11,0.729,119.931,Earthquake,24.0,NaN,NaN,7.9,MW,NaN,1.2,USP00079ZV,US,US,HRV,Reviewed
4,02/17/1996,05:59:31,-0.891,136.952,Earthquake,33.0,NaN,NaN,8.2,MW,NaN,1.3,USP0007D1W,US,US,HRV,Reviewed
5,06/10/1996,04:03:35,51.564,-177.632,Earthquake,33.0,NaN,NaN,7.9,MWC,NaN,0.9,USP0007JCU,US,US,HRV,Reviewed
6,06/17/1996,11:22:19,-7.137,122.589,Earthquake,587.3,NaN,NaN,7.9,MWC,NaN,1.2,USP0007JW8,US,US,HRV,Reviewed

4 Create a new column to the tenth column position called Grade which will have values from the following formula: ("Magnitude" * "Depth") / "Root Mean Square". Results in this column should be presented with three decimals.

In [134]:
values = round((earthquake_data["Magnitude"] * earthquake_data["Depth"] / earthquake_data["Root Mean Square"]),3)
earthquake_data.insert(10,"Grade",values,True)
earthquake_data

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,Grade,Magnitude Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,07/30/1995,05:11:24,-23.340,-70.294,Earthquake,45.6,NaN,NaN,8.0,MW,331.636,NaN,1.1,USP000714T,US,US,HRV,Reviewed
1,10/09/1995,15:35:54,19.055,-104.205,Earthquake,33.0,NaN,NaN,8.0,MW,203.077,NaN,1.3,USP00074VC,US,US,HRV,Reviewed
2,12/03/1995,18:01:09,44.663,149.300,Earthquake,33.0,NaN,NaN,7.9,MW,237.000,NaN,1.1,USP000782N,US,US,HRV,Reviewed
3,01/01/1996,08:05:11,0.729,119.931,Earthquake,24.0,NaN,NaN,7.9,MW,158.000,NaN,1.2,USP00079ZV,US,US,HRV,Reviewed
4,02/17/1996,05:59:31,-0.891,136.952,Earthquake,33.0,NaN,NaN,8.2,MW,208.154,NaN,1.3,USP0007D1W,US,US,HRV,Reviewed
5,06/10/1996,04:03:35,51.564,-177.632,Earthquake,33.0,NaN,NaN,7.9,MWC,289.667,NaN,0.9,USP0007JCU,US,US,HRV,Reviewed
6,06/17/1996,11:22:19,-7.137,122.589,Earthquake,587.3,NaN,NaN,7.9,MWC,3866.392,NaN,1.2,USP0007JW8,US,US,HRV,Reviewed

5 Filter out events that have occurred before the 1st of January in 1996. Then write the resulting DataFrame into csv file called *filtered_earthquake_data.csv*.

In [135]:
earthquake_data = earthquake_data[(earthquake_data["Date"].str.endswith("1996"))]
earthquake_data.reset_index(inplace=True,drop=True)
earthquake_data

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,Grade,Magnitude Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/01/1996,08:05:11,0.729,119.931,Earthquake,24.0,NaN,NaN,7.9,MW,158.000,NaN,1.2,USP00079ZV,US,US,HRV,Reviewed
1,02/17/1996,05:59:31,-0.891,136.952,Earthquake,33.0,NaN,NaN,8.2,MW,208.154,NaN,1.3,USP0007D1W,US,US,HRV,Reviewed
2,06/10/1996,04:03:35,51.564,-177.632,Earthquake,33.0,NaN,NaN,7.9,MWC,289.667,NaN,0.9,USP0007JCU,US,US,HRV,Reviewed
3,06/17/1996,11:22:19,-7.137,122.589,Earthquake,587.3,NaN,NaN,7.9,MWC,3866.392,NaN,1.2,USP0007JW8,US,US,HRV,Reviewed

In [136]:
earthquake_data.to_csv("data_files/earthquakes_new.csv")

In [137]:
new_earthquake_data = pd.read_csv("data_files/earthquakes_new.csv")

new_earthquake_data

,Unnamed: 0,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,Grade,Magnitude Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,0,01/01/1996,08:05:11,0.729,119.931,Earthquake,24.0,NaN,NaN,7.9,MW,158.000,NaN,1.2,USP00079ZV,US,US,HRV,Reviewed
1,1,02/17/1996,05:59:31,-0.891,136.952,Earthquake,33.0,NaN,NaN,8.2,MW,208.154,NaN,1.3,USP0007D1W,US,US,HRV,Reviewed
2,2,06/10/1996,04:03:35,51.564,-177.632,Earthquake,33.0,NaN,NaN,7.9,MWC,289.667,NaN,0.9,USP0007JCU,US,US,HRV,Reviewed
3,3,06/17/1996,11:22:19,-7.137,122.589,Earthquake,587.3,NaN,NaN,7.9,MWC,3866.392,NaN,1.2,USP0007JW8,US,US,HRV,Reviewed