## Exercise 5 - Pandas part 2
- Use *gamedata.json* file from data_files directory in this exercise. **Important:** Edit the original DataFrame throughout this whole notebook!

1 Read the first 10 rows from the gamedata.json file into the DataFrame. Then read the last five rows from the same file into another DataFrame. Combine these two into one DataFrame.

In [50]:
import pandas as pd
import numpy as np

In [51]:
first_ten = pd.read_json("data_files/gamedata.json").head(10)
last_five = pd.read_json("data_files/gamedata.json").tail(5)

gamedata = pd.concat([first_ten,last_five])
gamedata.reset_index(inplace=True,drop=True)

2 Set *steamRatingPercent* to NaN for all rows having *steamRatingCount* below 1000.

In [52]:
gamedata["steamRatingPercent"].mask(gamedata["steamRatingCount"] < 1000, inplace=True)

3 Fill all NaN values in *SteamRatingPercent* column by increasing the *metacriticScore* from the same row with 7 %.

In [53]:
gamedata.loc[gamedata["steamRatingPercent"].isnull(),'steamRatingPercent'] = gamedata["metacriticScore"] * 1.07

4 Group the data by *steamRatingText* column so that averages of the following columns will be calculated for each text value: *steamRatingPercent*, *metacriticScore*, *normalPrice* and *salePrice*. Do not show any other columns in the resulting DataFrame.

In [54]:
gamedata = gamedata.groupby("steamRatingText").agg({"steamRatingPercent" : "mean", "metacriticScore" : "mean", "normalPrice" : "mean", "salePrice" : "mean"})

gamedata

,steamRatingPercent,metacriticScore,normalPrice,salePrice
steamRatingText,,,,
Mostly Negative,43.575000,56.000000,36.490000,6.09
Mostly Positive,75.328000,70.400000,15.990000,3.14
Overwhelmingly Positive,96.500000,87.000000,24.990000,2.99
Very Positive,81.186667,75.333333,15.823333,2.49

5 Load the original game_data.json file content into a new DataFrame and then filter the data with the same manner as in previous task. Combine these two DataFrames together and change the column names of the original to contain text *ORIGINAL*.

In [59]:
original_gamedata = pd.read_json("data_files/gamedata.json")

original_gamedata = original_gamedata.groupby("steamRatingText").agg({"steamRatingPercent" : "mean", "metacriticScore" : "mean", "normalPrice" : "mean", "salePrice" : "mean"})
original_gamedata = original_gamedata.rename({"steamRatingPercent" : "steamRatingPercent_ORIGINAL", "metacriticScore" : "metacriticScore_ORIGINAL", "normalPrice" : "normalPrice_ORIGINAL", "salePrice" : "salePrice_ORIGINAL"}, axis="columns")

original_gamedata

,steamRatingPercent_ORIGINAL,metacriticScore_ORIGINAL,normalPrice_ORIGINAL,salePrice_ORIGINAL
steamRatingText,,,,
Mixed,59.857143,53.428571,10.704286,1.418571
Mostly Negative,37.000000,56.000000,36.490000,6.090000
Mostly Positive,74.750000,72.000000,19.990000,3.510833
Overwhelmingly Positive,96.250000,83.000000,14.740000,2.741250
Very Positive,87.500000,78.533333,19.606667,3.568333

In [60]:
dfs = gamedata,original_gamedata
name = "ORIGINAL "

joined_gamedata = pd.concat([original_gamedata, gamedata], axis=1)
joined_gamedata

,steamRatingPercent_ORIGINAL,metacriticScore_ORIGINAL,normalPrice_ORIGINAL,salePrice_ORIGINAL,steamRatingPercent,metacriticScore,normalPrice,salePrice
steamRatingText,,,,,,,,
Mixed,59.857143,53.428571,10.704286,1.418571,NaN,NaN,NaN,NaN
Mostly Negative,37.000000,56.000000,36.490000,6.090000,43.575000,56.000000,36.490000,6.09
Mostly Positive,74.750000,72.000000,19.990000,3.510833,75.328000,70.400000,15.990000,3.14
Overwhelmingly Positive,96.250000,83.000000,14.740000,2.741250,96.500000,87.000000,24.990000,2.99
Very Positive,87.500000,78.533333,19.606667,3.568333,81.186667,75.333333,15.823333,2.49